* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 75%;
}

h1 {
    margin-bottom: 1.5rem;
}

h2 {
    margin-bottom: 8rem;
    font-size: 2rem;
}

body {
    background: #000000;
    color: #ffffff;
    font-family: initial;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

span {
    border-bottom: 3px solid #ffffff;
    display: inline-block;
    font-size: 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.5rem;
}

p {
    font-weight: 450;
    margin-bottom: 1.5rem;
}

.puzzle {
    display: flex;
    margin-bottom: 3rem;
}

.button {
    background: #4b0082;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 450;
    padding: 1rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #ca2c92;
}